// Products page text
.product-page-text {
    margin-bottom: 1px;
  }

.product-block {
    max-height: 23em;
}

.product-image {
    img {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 7em;
        height: 7em;
    }

    width: (10 / 12 * 100%);
    margin-bottom: 1em;
}