---
layout: default
---
<article class="container px-2 mx-auto mb4" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="h0 col-9 sm-width-full py-4 mt-3 inline-block" itemprop="name headline">{{ page.title }}</h1>
  <div class="sm-width-full mt-1 border-top-thin ">
    <a type="button" target="_blank" rel="noopener noreferrer" class="btn btn-primary" href="{{page.link}}">Get the app</a>
  </div>

  <div class="prose" itemprop="articleBody">
    {{ content }}

    <h2>Related Posts</h2>
    <ul>
      {% for post in site.posts %}
      {% for tag in page.tags %}
        {% if post.tags contains tag %}
        <li>
          <a href="{{post.link}}">{{post.title}}</a>
        </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
</article>